.main-title,
.main-descri,
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  gap: 80px;
  padding-top: 140px;
  padding-bottom: 96px;
}

.main-title {
  gap: 20px;
}

.main-title img {
  width: 32px;
}

.main-descri {
  gap: 8px;
}

.main-descri p {
  text-align: center;
}

@media (max-width: 800px) {
  .main-content {
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

@media (max-width: 400px) {
  .main-content {
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 40px;
  }
}
